.dropzone-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 420px;
  }
  
  .upload-wrapper, .fileselect-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 375.2px;
  }
  
  kendo-uploaddropzone {
    margin: 0 8px;
    flex-grow: 1;
  }
  
  kendo-upload, kendo-fileselect {
    margin: 8px 8px 0 8px;
  }
  
  .images-wrapper {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // justify-items: center;
    // align-content: start;
    // column-gap:10px;
    // row-gap: 10px;
    // border: 1px solid;
    // border-color: #EBEBEB;
    // padding:10px;
    border: 1px solid #EBEBEB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:10px;
  }
  
  .file-image {
    width: 70px;
    height: 70px;

  }
// align-self: flex-start;
//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
  
  .wrapper {
    display:flex;
    flex-direction: column;
  }
  .custom-dropzone {
    border: 1px solid;
    border-color: #EBEBEB;
    margin: 8px;
    height: 200px;
  }
  
  .custom-dropzone p {
    margin: 10px;
  }
  .droped-image{
    height: 160px;
    width: 160px;
  }