


<div class="main-container">
  <div class="content-container">
    <kendo-multiselect
      #list

      [data]="data"
      [(ngModel)]="value"
      [textField]="'text'"
      [valueField]="'value'"
      (valueChange)="onValueChange()"
      [autoClose]="false"
      [filterable]="true" 
    >
      <ng-template kendoMultiSelectHeaderTemplate>
        <span style="margin-left:11px">
          <input
            type="checkbox"
            id="chk"
            kendoCheckBox
            [checked]="isChecked"
            [indeterminate]="isIndet"
            (click)="onClick()"
          />
          <kendo-label for="chk">{{ toggleAllText }}</kendo-label>
        </span>
      </ng-template>


      <ng-template kendoMultiSelectItemTemplate let-dataItem>
        <span>
          <kendo-label for="chk-{{ dataItem.value }}">
            <input
              type="checkbox"
              id="chk-{{ dataItem.value }}"
              kendoCheckBox
              [checked]="isItemSelected(dataItem)"
            />
          </kendo-label>
        </span>
        <span>{{ dataItem.text }}</span>
      </ng-template>
    </kendo-multiselect>

  </div>
</div>